.about-aayam-container{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin: 30px;
}

.about-aayam-heading{
    font:normal 750 32px "Verdana";
    color: indigo;
    text-decoration: underline;
    text-decoration-color: brown;
    text-align: left;
    margin-bottom: 30px;
}

.about-aayam-info{
    font:normal 250 18px "Verdana";
    text-align: justify;
}