.footer-style{
    background-color:navy;
    color:white;


    
}

.carousel-notification{
    display: flex;
    padding-left: 40px;
    padding-right:40px ;
   

}

.carousel-style{
   
    width: 900px;
    height: 450px;
}

.carousal-img{
    width: 900px;
    height: 450px;
}

.notification-container{
    flex-grow: 1;
    margin-left: 10px;
    box-shadow: 0 0px 10px grey;
  background: rgba(242, 248, 247, 0.952);
  text-align: left;
  border-radius: 5px;
}


.title-style{
    color:indigo;
    text-decoration: underline;
    text-decoration-color:brown;
    margin-bottom: 10px;

}
.courses-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
}

.course-card{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;

  box-shadow: 0 15px 30px grey;
  background: rgba(255, 255, 255, 0.90);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
  width: 25%;
  height: 380px;
}

.course-card-img{
    height: 160px;
    width: 160px;
    align-self: center;
}

.distance-courses{
    margin-top: 20px;
    color:indigo;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-us-container{
    background-color:rgb(72, 29, 102);
    padding: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.about-us{
    
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    
}

.about-us-description{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
    align-items: flex-start;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    padding-left: 60px;
    padding-right: 60px;
}

.about-us-heading{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    text-decoration: underline;
    text-decoration-color: rgb(230, 75, 13);
}
.about-us-info{
    text-align:justify;
    font-size: 18px; 
    text-justify:distribute-all-lines;
}

.cards-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 160px;
    margin: 10px;
    background-color: transparent;
    border: none;
}


.card-heading {
    font-size: 36px;
    font-weight: 600;
    color: #ffffff;
}

.card-description {
    font-family:sans-serif;
    font-style:italic;
    font-size: 20px ;
    text-align: center;
    color: #ffffff;
}