/* .style-menu {
    background-color: aqua;
    display:flex;
    flex-direction:row;
    margin-right:200px;
} */
/* .nav_bar{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    background-color:brown;
    font-size:8px;
    color:#ffff;


} */
/* .tuski{
    background-color: blueviolet;
}
.btn-1{
    cursor:pointer;
} */
.aayam_img{
    width:80px;
}
/* .dropdown_items{
    display:flex;
    flex-direction:column;
    color:red;
} */
/* .nav-ul{
display: flex;
flex-direction: row;
justify-content:right;
list-style: none;

} */
.course-link{
    color:initial;
    text-decoration: none;
    margin-top:8px;
    

}
.home-link{
    color:initial;
    text-decoration: none;
    margin-top:8px;
    margin-right: 12px;
    
}
 
    


.top-section{
    background-color: brown;
    
}
.nav-option{
    color:#ffff;
}