.notice-list{
    list-style-type: ">";
    
}
.list-item{
    margin-right: 0%;
}

.notification-style{
    list-style-type: ">>";
}

.blink {
    font-size: 9px;
    border-radius: 5px;
    /* height: 12px; */
    padding: 2px;
    animation: blink 1s steps(1, end) infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.3;
      color: chartreuse;
    }
    100% {
      opacity: 1;
    }
  }