.course_heading{
    margin-top: 40px;
    text-decoration: underline;
    text-align: left;
    margin-left:10px;
}
.course{
    background-color: aqua;
}
.course-card{
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;

}
.card{
    width:70%;
}